.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  font-size: 1.5rem;
}
.footer a {
  font-size: 1.4rem;
  color: var(--text-secondary);
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
